.header {
    background-color: white;
    height: 50px;
}

.trescon-header {
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
    height: 30px;
}

#navigation {
	display: inline-block;
	list-style: none;
	line-height: 100px;
	margin: 0;
	padding: 0;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 160px;
	text-align: center;
}
#navigation li a {
	color: #818181;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}

.body-segment {
    height: 400px;
}

.bgImg {
    background-image: url("images/bg-header.jpg");
}

.text-1 {
    margin: 50px;
    position: absolute;
    display: block;
    width: 40%;
}

.image-1 {
    display: block;
    width: 40%;
    margin-left: 100vh;
}

.speaker-img {
    height: 200px;
    width: 200px;
}
